/* CSS Document */
/*Theme Colors

mediumaquamarine
darksalmon
darkmagenta
*/
*, *:after {
  box-sizing: border-box;
}
body {
  font-family: 'Courier New', monospace;
  color: white;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, rgba(0, 0, 0, .9) 1%, rgba(0, 0, 0, .8) 25%, rgba(0, 0, 0, .7) 50%);
}
#mainmenu {
  height: 500px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
#contactMenu {
  height: 500px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
#play{
	overflow:hidden;
	opacity:1.0;
	height:100%;
	width:100%;
	margin:0 auto;
	background:url("hack6.jpg");
	position:relative;
	background-color:maroon;
}
@keyframes slide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-1480px, 0, 0);
	}
	
}


@keyframes slide2 {
	0% {
		transform: translate3d(990px, 2460px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
	
}
#title{
	  font-family: Phantomsans, sans-serif;
	font-size: 24px;
	font-style: bolder;
	font-variant: normal;
	font-weight: 900;
	line-height: 26.4px;
		margin-right:auto;
	margin-left:auto;
	text-align:center;
	margin-bottom:30px;
	color:black;
	text-shadow:-1px -1px white;
	
}
#title2{
	  font-family: Phantomsans, sans-serif;
	font-size: 14px;
	font-style: bolder;
	font-variant: normal;
	font-weight: 400;
	line-height: 13.4px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	margin-bottom:30px;
	color:white;
	text-shadow:-2px -2px black;
	
}
#title3{
	  font-family: Phantomsans, sans-serif;
	font-size: 30px;
	font-style: bolder;
	font-variant: normal;
	font-weight: 400;
	line-height: 13.4px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	margin-bottom:30px;
	color:white;
	text-shadow:-2px -2px black;
	
}

#shows{
	background-color:rgba(255,255,255,0.3);
	border:4px solid black;
	opacity:1;
	width:150px;
	position:relative;
	padding:20px;

	
}
#shows2{
	background-color:rgba(255,255,255,0.3);
	border:4px solid black;
	opacity:1;
	width:120px;
	float:right;
	position:absolute;
	top:0px;
	right:0px;
	padding:20px;

	
}


#deck{
	width:250px;
	height:150px;
	background-color:rgba(110,0,0,0.3);
	border:3px solid white;
	color:white;
	text-shadow:1px 1px black;
	position:absolute;
	bottom:0px;
	right:0px;
	text-align:center;
	align-items: center;
	display: flex;
	
}
#start{
	float:left;
	
	
	
	
}
button{
	
	float:left;
	appearance:auto;
	
}



#new{
	
	text-align:center;
	display:none;
	margin-left:auto;
	margin-right:auto;

	


	
}
.show {
 
 	background-color: rgba(360, 260, 360, 0.77);
  background-image: linear-gradient(to right,
	  rgba(0, 0, 0, .9) 1%,
      rgba(0, 0, 0, .1) 25%,
      rgba(0, 0, 0, .9) 50%);
  box-sizing: border-box;
  color: #FFFFFF;
  display: block;
  font-family: Phantomsans, sans-serif;

  width:70px;

  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
	font-size: 20px;
	font-weight:1000;
	border: 4px solid white;
	cursor: pointer;
	margin-right:auto;
	margin-left:auto;

	text-align:center;
	animation:slide2 1.5s linear ;

}
.common {

	
}


.show1 {
 	background-color: rgba(360, 260, 360, 0.77);
  background-image: linear-gradient(to right,
	  rgba(0, 0, 0, .9) 1%,
      rgba(0, 0, 0, .1) 25%,
      rgba(0, 0, 0, .9) 50%);
  box-sizing: border-box;
  color: #FFFFFF;
  display: block;
  font-family: Phantomsans, sans-serif;

  width:70px;

  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
	font-size: 20px;
	font-weight:1000;
	border: 4px solid white;
	cursor: pointer;
	margin-right:auto;
	margin-left:auto;

	text-align:center;
	animation:slide2 1.5s linear ;
	

}
	
#form {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
.form {
  background-color: rgba(20, 0, 0, 0.5);
  width: 100%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  outline-style: groove;
  outline-color: mediumaquamarine;
  border: 2px solid mediumaquamarine;
  box-shadow: 3px 3px mediumaquamarine;
  padding: 50px;
  text-align: center;
}
label {
  font-size: 18px;
}
input {
  padding: 5px;
  margin: 10px;
}
/* Title */
header {
  display: block;
  text-align: center;
  opacity: 0.9;
  font-size: 25px;
  font-weight: 900;
  text-shadow: 2px 2px black;
  color: silver;
  padding: 5px;
}
/* Main Menu */
#menu {
  display: block;
  width: 90%;
  height: 100%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
li a {
  background-color: slategrey;
  opacity: 0.8;
  width: 100%;
  display: flex;
  height: 90px;
  align-cont: center;
  justify-content: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgba(0, 1, 199, 1.0);
}
#nav {
  background-color: rgba(20, 0, 0, 0.5);
  width: 100%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  list-style-type: none;
  outline-style: groove;
  outline-color: mediumaquamarine;
  border: 2px solid mediumaquamarine;
  box-shadow: 3px 3px mediumaquamarine;
  padding-top: 50px;
}
#back {
  background-color: black;
  opacity: 0.4;
  width: 100%;
  display: flex;
  align-cont: center;
  justify-content: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgba(0, 1, 199, 1.0);
}
#submit {
  background-color: mediumaquamarine;
  color: grey;
  text-shadow: 1px 1px black;
  font-size: 14px;
  font-stretch: ultra-expanded;
}
li a {
  color: maroon;
  text-decoration: none;
  float: left;
  font-weight: 900;
  font-size: 2em;
  text-shadow: 3px 15px 15px mediumaquamarine;
}
li a:hover {
  color: #7eb9be;
}

.button-64 {
  align-items: center;
 	background-color: rgba(29, 29, 229, 0.5);
  background-image: linear-gradient(to right,
	  rgba(0, 0, 0, .9) 1%,
      rgba(0, 0, 0, .1) 25%,
      rgba(0, 0, 0, .9) 50%);
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  justify-content: center;
  width:60px;
	height:60px;
margin-top:10px;
margin-bottom:10px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
	font-size: 14px;
	font-weight:1000;
	border: 4px solid white;
	border-radius:50%;
	cursor: pointer;
	margin-left:auto;
	margin-right:auto;
	padding:50px;
	
	text-align:center;
}

.button-64:active,


.button-64:hover {
  outline: 10px;
}

.button-64 span {
  	background-color: rgba(270, 260, 299, 0.87);
  background-image: linear-gradient(to right,
	  rgba(0, 0, 0, .9) 1%,
      rgba(0, 0, 0, .1) 25%,
      rgba(0, 0, 0, .9) 50%);
  padding-top:50px;
	border:1px dotted rgba(280, 280, 280, 0.87);
  border-radius: 50%;
  width: 70%;
  height:70%;
  transition: 2s;
	justify-content:center;
align-items:center;
	text-align:center;
	text-shadow:7px 1px 2px maroon;
	box-shadow: 1px 1px 10px 10px black;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.text{
	opacity:0.8;
	
}

.button-64:hover span {
 	background-color:green;
	transition:2s;
}
.button-64:focus {

	
}

.inputStyle {
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	justify-content:center;
	align-items:center;
height:50px;
font-size:22px;
background-color:black;
color:white;
border:1px dotted white;
box-shadow:7px 8px 19px white;
	
}

#total {

	text-shadow:1px 1px black;
	color:black;
}


footer{
	background-color:rgba(160,10,19,0.25);
	height:200px;
	width:100%;
	
	
	
	
}
/* Score Board */
#scoreboard {}
#names {}
#player1 {}
#player2 {}
#scores {}
#score1 {}
#score2 {}
